@media print
{
    *
    {
        color: black;
    }

    #roadmap
    {
        display: flex;
    }
    .event
    {
        border-right: .1rem solid black;
    }
    .event:last-of-type
    {
        border: none;
    }

    img
    {
        margin: auto;
        max-height: 15rem;
        max-width: 15rem;
    }
    table, td, th
    {
        border: .2rem solid black;
    }

    .dont-print, #menu, footer, video
    {
        display: none;
    }
    .rent-button
    {
        border: none;
    }

    .event .event-description
    {
        padding: 0;
    }
    #content-btn
    {
        display: none;
    }
    #content
    {
        margin-top: 0;
    }

    .button
    {
        display: none;
    }
    input[type=radio]
    {
        background-color: white;
        border: .1rem solid black;
    }
    input[type=checkbox]
    {
        background-color: white;
        border: .1rem solid black;
    }
}
