/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Tomorrow:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* md from below: 767px */
/* lg from below: 991px */
/* lg from above: 992px */

/* #region Variables */
:root
{
    --bg-color: #09090A;
    --bg-color-transparent: rgba(9, 9, 10, 0.8);
    --bg-dark-grey-color: #121319;
    --bg-light-grey-color: #282a33;

    --text-color: #eee;
    --text-muted-color: #adc2c5;

    --primary-dark-color: #334fb6;
    --primary-color: #689ef0;
    --primary-light-color: #85dbf5;

    --secondary-color: #a675e7;

    --transition-length: 150ms;

    --font-size: 1rem;
    --font-size-large: 1.125rem;
    --font-size-giga: 3rem;

    --font: "Work Sans", Arial, sans-serif;
    --font-futuristic: "Tomorrow", Arial, sans-serif;
    --font-barcode: "Libre Barcode 128 Text", Arial, sans-serif;

    --bg-blur: blur(.2rem);

    --timeline-border-color: white;
}
.high-contrast
{
    --bg-color: #000000;
    --bg-color-transparent: rgba(0, 0, 0, 1);
    
    --text-color: #4cecff;
    --text-muted-color: #00ccff;
    
    --primary-dark-color: #ff8800;
    --primary-color: #ffa600;
    --primary-light-color: #ffee00;

    --font-size: 1.125rem;
    --font-size-large: 1.25rem;
}
/* #endregion */

/* #region Global */
::selection
{
    background-color: var(--primary-color);
    color: #000;
}
.high-contrast ::selection
{
    background-color: var(--primary-color);
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--bg-color); /* Ha nem töltene be a kép, az ember nem fog megvakulni. */
    background-image: url(./../../assets/imgs/Space.jpg);
    background-position: top;
    background-size: cover;

    color: var(--text-color);
    font-family: var(--font);
}
main
{
    /* A footer így mindig legalul lesz. */
    flex: 1;
}

h1, h2, h3, nav
{
    font-family: var(--font-futuristic);
}
p, a, li
{
    font-size: var(--font-size);
}
.high-contrast h1, .high-contrast h2, .high-contrast h3
{
    color: var(--primary-light-color);
}
/* #endregion */

/* #region Content */
#content
{
    margin-top: 3rem;
}
#content-btn a
{
    position: absolute;
    left    : -9999px;
    margin-left: 5rem;
    font-size: var(--font-size-large);
}
#content-btn a:focus
{
    position: static;
}

.content-card
{
    border-bottom: .15rem solid var(--bg-dark-grey-color);
    border-top: .1rem solid var(--bg-light-grey-color);
    border-radius: 1rem;
    
    overflow: hidden;
    background-color: var(--bg-color-transparent);
    backdrop-filter: var(--bg-blur);
}
.high-contrast .content-card
{
    border-color: white;
}
.content-card header
{
    padding: .5rem;

    background-color: var(--bg-dark-grey-color);
    text-align: center;
}
.blur-bg
{
    width: fit-content;
    padding: 0 1rem;
    
    background-color: var(--bg-color-transparent);
    backdrop-filter: var(--bg-blur);
}
.text-justify p
{
    text-align: justify;
}

hr
{
    border-top: .3rem dashed var(--bg-light-grey-color);
    border-radius: 1rem;
    opacity: .5;
}

.content-border
{
    border: .1rem inset var(--bg-light-grey-color);
}
.content-border-transparent
{
    border: .1rem solid transparent;
}
.zoom-image:hover img
{
    opacity: .8;
    border: .1rem solid white;
    border-radius: .5rem;
}
.zoom-image:hover
{
    cursor: zoom-in;
}
/* #endregion */

/* #region Links */
a:link
{
    color: var(--primary-color);
}
a:visited
{
    color: var(--secondary-color);
}
a:hover, a:active
{
    color: var(--primary-light-color);
}
/* #endregion */

/* #region Buttons */
.button
{
    border: none;
    border-radius: .5rem;
    
    transition: var(--transition-length);

    color: var(--text-color);
    font-family: var(--font-barcode);
    font-size: var(--font-size-giga);
}
.high-contrast .button
{
    font-family: var(--font-futuristic);
    font-weight: bold;
}
/* #endregion */

/* #region Descriptions  */
figure
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
figcaption
{
    margin-top: 1rem;

    color: var(--text-muted-color);
    text-align: left;
}

details
{
    margin-bottom: 1rem;
}
summary
{
    border-radius: .5rem;
    padding: 0 .5rem;

    transition: var(--transition-length);
    background-color: var(--bg-dark-grey-color);
}
summary:hover, summary:focus
{
    background-color: var(--bg-light-grey-color);
}

.footnote
{
    color: var(--text-muted-color);
    text-align: right;
    font-style: italic;
}
caption
{
    color: var(--text-color);
}
/* #endregion */

/* #region Navbar */
#menu
{
    position: sticky;
    top: 0;
    margin: 0 0rem;
    display: flex;
    align-items: center;

    z-index: 1;
    user-select: none;

    backdrop-filter: var(--bg-blur);
    border-bottom: .1rem solid var(--bg-dark-grey-color);
    border-radius: 3rem;
    text-wrap: nowrap;
}
.high-contrast #menu
{
    border-color: white;
}
#menu img
{
    height: 4rem;
    margin: 1rem;
}

nav
{
    width: 100%;
}
nav ul
{
    display: flex;
    gap: 1rem;

    margin: 0 1rem;
    padding: .5rem 1.5rem;
    border-radius: 2rem;

    background-color: var(--bg-dark-grey-color);
}
nav li
{
    list-style-type: none;
    display: inline-block;
}
nav a:link, nav a:visited
{
    padding: 0 1rem;
    border-radius: 1rem;

    color: var(--text-muted-color);
    font-variant: small-caps;
    font-size: var(--font-size-large);
    text-decoration: none;
}
nav a:hover, nav a:active
{
    color: var(--text-color);
}
nav li.active a
{
    font-weight: bold;
    border: .1rem solid var(--text-muted-color);
}
nav li a svg
{
    display: none;
}

#menu p
{
    position: relative;
    top: .5rem;
    margin-right: 1rem;
    padding: .5rem;
    border-radius: 1rem;

    background-color: var(--bg-color);
    font-variant: small-caps;
    text-align: end;
}
#high-contrast-btn
{
    margin-right: 2rem;
    border: none;

    background-color: transparent;
    color: var(--text-color);
}
#high-contrast-btn:hover
{
    color: var(--primary-light-color);
}

@media screen and (max-width: 767px)
{
    #menu
    {
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;

        border-top: .15rem solid var(--bg-light-grey-color);
    }
    #menu p
    {
        display: none;
    }
    #menu img
    {
        height: 2rem;
        margin: .5rem;
    }

    nav ul
    {
        gap: 0;
        justify-content: space-around;
    }
    nav a:link, nav a:visited
    {
        padding: 0;
    }
    nav li.active a
    {
        border: none;
    }
    nav a span
    {
        display: none;
    }
    nav li.active
    {
        border: .2rem solid var(--text-muted-color);
    }
    nav li
    {
        padding: .3rem;
        border: .2rem solid transparent;
        border-radius: 100%;
    }
    nav li a svg
    {
        display: block;
    }

    footer
    {
        padding-bottom: 5rem;
    }
}
@media screen and (min-width: 992px)
{
    #menu
    {
        margin: 0 4rem;
    }
}
/* #endregion */

/* #region Footer */
footer
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-top: .1rem solid var(--bg-light-grey-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    background-color: var(--bg-dark-grey-color);
}
.high-contrast footer
{
    border-color: white;
}
footer p, footer address
{
    margin: 0;
}
/* #endregion */
