/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Tomorrow:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* md from below: 767px */
/* lg from below: 991px */
/* lg from above: 992px */

/* #region Variables */
:root
{
    --bg-color: #09090A;
    --bg-color-transparent: rgba(9, 9, 10, 0.8);
    --bg-dark-grey-color: #121319;
    --bg-light-grey-color: #282a33;

    --text-color: #eee;
    --text-muted-color: #adc2c5;

    --primary-dark-color: #334fb6;
    --primary-color: #689ef0;
    --primary-light-color: #85dbf5;

    --secondary-color: #a675e7;

    --transition-length: 150ms;

    --font-size: 1rem;
    --font-size-large: 1.125rem;
    --font-size-giga: 3rem;

    --font: "Work Sans", Arial, sans-serif;
    --font-futuristic: "Tomorrow", Arial, sans-serif;
    --font-barcode: "Libre Barcode 128 Text", Arial, sans-serif;

    --bg-blur: blur(.2rem);

    --timeline-border-color: white;
}
.high-contrast
{
    --bg-color: #311b4e;
    --bg-color-transparent: rgba(20, 20, 20, 1);
    --bg-dark-grey-color: #23242b;
    --bg-light-grey-color: #383a42;
    
    --text-color: #4cecff;
    --text-muted-color: #00ccff;
    
    --primary-dark-color: #ff8800;
    --primary-color: #ffa600;
    --primary-light-color: #ffee00;

    --font-size: 1.125rem;
    --font-size-large: 1.25rem;
}
/* #endregion */

/* #region Global */
::selection
{
    background-color: var(--primary-color);
    color: #000;
}
.high-contrast ::selection
{
    background-color: var(--primary-color);
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--bg-color); /* Ha nem töltene be a kép, az ember nem fog megvakulni. */
    background-image: url(./../assets/imgs/Space.jpg);
    background-position: top;
    background-size: cover;

    color: var(--text-color);
    font-family: var(--font);
}
main
{
    /* A footer így mindig legalul lesz. */
    flex: 1;
}

h1, h2, h3, nav
{
    font-family: var(--font-futuristic);
}
p, a, li
{
    font-size: var(--font-size);
}
.high-contrast h1, .high-contrast h2, .high-contrast h3
{
    color: var(--primary-light-color);
}
/* #endregion */

#content
{
    margin-top: 3rem;
}
#content-btn a
{
    position: absolute;
    left    : -9999px;
    margin-left: 5rem;
    font-size: var(--font-size-large);
}
#content-btn a:focus
{
    position: static;
}

.content-card
{
    border-bottom: .15rem solid var(--bg-dark-grey-color);
    border-top: .1rem solid var(--bg-light-grey-color);
    border-radius: 1rem;
    
    overflow: hidden;
    background-color: var(--bg-color-transparent);
    backdrop-filter: var(--bg-blur);
}
.high-contrast .content-card
{
    border-color: white;
}
.content-card header
{
    padding: .5rem;

    background-color: var(--bg-dark-grey-color);
    text-align: center;
}
.blur-bg
{
    width: fit-content;
    padding: 0 1rem;
    
    background-color: var(--bg-color-transparent);
    backdrop-filter: var(--bg-blur);
}
.text-justify
{
    text-align: justify;
}

hr
{
    border-top: .3rem dashed var(--bg-light-grey-color);
    border-radius: 1rem;
    opacity: .5;
}

/* Links */
a:link
{
    color: var(--primary-color);
}
a:visited
{
    color: var(--secondary-color);
}
a:hover, a:active
{
    color: var(--primary-light-color);
}

footer
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-top: .1rem solid var(--bg-light-grey-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    background-color: var(--bg-dark-grey-color);
}
footer p, footer address
{
    margin: 0;
}

video
{
    width: 100%;
}

.content-border
{
    border: .1rem inset var(--bg-light-grey-color);
}
.content-border-transparent
{
    border: .1rem solid transparent;
}
.zoom-image:hover img
{
    opacity: .8;
    border: .1rem solid white;
    border-radius: .5rem;
}
.zoom-image:hover
{
    cursor: zoom-in;
}

/* #region About Us */
form
{
    width: fit-content;
    margin: auto;
}
input, textarea
{
    padding: .2rem .5rem;
    border: none;
    border-top: .1rem solid var(--bg-light-grey-color);
    border-bottom: .15rem solid var(--bg-light-grey-color);
    border-radius: .5rem;
    max-width: 40rem;

    color: var(--text-color);
    background-color: var(--bg-dark-grey-color);
}
textarea
{
    width: 100%;
    min-height: 7rem;
}
::placeholder
{
    color: var(--text-muted-color);
}
input[type=submit]
{
    padding: .5rem 3rem;
    width: fit-content;

    background-color: var(--primary-dark-color);
}
input[type=submit]:hover
{
    background-color: var(--primary-color);
}
.high-contrast input[type=submit]
{
    color: #000;
}
input[type=button]
{
    padding: .3rem 2rem;
    border: .2rem solid var(--text-color);
    background-color: var(--bg-color);
}
input[type=button]:hover
{
    border-color: var(--text-muted-color);
    background-color: var(--bg-dark-grey-color);
}
.button-group
{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1rem;
}
.vertical-group
{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.horizontal-group
{
    display: flex;
}
.horizontal-group label
{
    margin-left: .5rem;
}
/* #endregion */

/* #region The Ship */
figure
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
figcaption
{
    margin-top: 1rem;

    color: var(--text-muted-color);
    text-align: left;
}
@media screen and (max-width: 767px)
{
    /* figure
    {
        position: relative;
        max-height: 10rem;
        overflow: hidden;
    }
    figcaption
    {
        position: absolute;
        top: 0;
        left: 1rem;
        padding: .5rem;
        border-radius: .5rem;
        width: 80%;

        color: var(--text-color);
        text-align: start;
        background-color: var(--bg-color-transparent);
        backdrop-filter: var(--bg-blur);
    } */
}

details
{
    margin-bottom: 1rem;
}
summary
{
    border-radius: .5rem;
    padding: 0 .5rem;

    transition: var(--transition-length);
    background-color: var(--bg-dark-grey-color);
}
summary:hover, summary:focus
{
    background-color: var(--bg-light-grey-color);
}

table, th, td
{
    border: 1px solid white;
}
th, td
{
    padding: .5rem;
    min-width: 6rem;
}
thead th
{
    text-align: end;
}
tbody td
{
    text-align: center;
}
caption
{
    color: var(--text-color);
}

/* #endregion */

/* #region Offers */
.content-card p.footnote
{
    color: var(--text-muted-color);
    text-align: end;
    font-style: italic;
}

.cost-text
{
    font-family: var(--font-futuristic);
    font-size: var(--font-size-large);
    letter-spacing: .2rem;
}
.button
{
    border: none;
    border-radius: .5rem;
    
    transition: var(--transition-length);

    color: var(--text-color);
    font-family: var(--font-barcode);
    font-size: var(--font-size-giga);
}
.buy-button
{
    padding: .2rem 4rem;
    background-color: var(--primary-dark-color);
}
.buy-button:hover
{
    background-color: var(--primary-color);
}
.high-contrast .buy-button
{
    color: #000;
}
.high-contrast .button
{
    font-family: var(--font-futuristic);
    font-weight: bold;
}
.rent-button
{
    padding: 0 4rem;
    border: .2rem solid var(--primary-dark-color);
    background-color: var(--bg-color);
}
.rent-button:hover
{
    border-color: var(--primary-color);
    background-color: var(--bg-light-grey-color);
}
/* #endregion */

/* #region Navbar */
#menu
{
    position: sticky;
    top: 0;
    margin: 0 0rem;
    display: flex;
    align-items: center;

    z-index: 1;
    user-select: none;

    backdrop-filter: var(--bg-blur);
    border-bottom: .1rem solid var(--bg-dark-grey-color);
    border-radius: 3rem;
    text-wrap: nowrap;
}
#logo:hover
{
    transition: var(--transition-length);
    opacity: .9;
    filter: drop-shadow(0 0 1.5rem var(--primary-dark-color));
}
#menu img
{
    height: 4rem;
    margin: 1rem;
}

nav
{
    width: 100%;
}
nav ul
{
    display: flex;
    gap: 1rem;

    margin: 0 1rem;
    padding: .5rem 1.5rem;
    border-radius: 2rem;

    background-color: var(--bg-dark-grey-color);
}
nav li
{
    list-style-type: none;
    display: inline-block;
}
nav a:link, nav a:visited
{
    padding: 0 1rem;
    border-radius: 1rem;

    color: var(--text-muted-color);
    font-variant: small-caps;
    font-size: var(--font-size-large);
    text-decoration: none;
}
nav a:hover, nav a:active
{
    color: var(--text-color);
}
nav li.active a
{
    font-weight: bold;
    border: .1rem solid var(--text-muted-color);
}
nav li a svg
{
    display: none;
}

#menu p
{
    position: relative;
    top: .5rem;
    margin-right: 1rem;
    padding: .5rem;
    border-radius: 1rem;

    background-color: var(--bg-color);
    font-variant: small-caps;
    text-align: end;
}
#high-contrast-btn
{
    margin-right: 2rem;
    border: none;

    background-color: transparent;
    color: var(--text-color);
}
#high-contrast-btn:hover
{
    color: var(--primary-light-color);
}

@media screen and (max-width: 767px)
{
    #menu
    {
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;

        border-top: .15rem solid var(--bg-light-grey-color);
    }
    #menu p
    {
        display: none;
    }
    #menu img
    {
        height: 2rem;
        margin: .5rem;
    }

    nav ul
    {
        gap: 0;
        justify-content: space-around;
    }
    nav a:link, nav a:visited
    {
        padding: 0;
    }
    nav li.active a
    {
        border: none;
    }
    nav a span
    {
        display: none;
    }
    nav li.active
    {
        border: .2rem solid var(--text-muted-color);
    }
    nav li
    {
        padding: .3rem;
        border: .2rem solid transparent;
        border-radius: 100%;
    }
    nav li a svg
    {
        display: block;
    }

    footer
    {
        padding-bottom: 5rem;
    }
}
@media screen and (min-width: 992px)
{
    #menu
    {
        margin: 0 4rem;
    }
}
/* #endregion */

/* #region Lens images */
.lens
{
    padding: 0;
    position: relative;
    bottom: -1rem;
    display: block;
    margin: auto;
    width: 33%;
}
.lens img
{
    display: block;
    width: 100%;
    margin: auto;
}
.lens img:last-of-type
{
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: var(--transition-length);
}
.lens img:last-of-type:hover
{
    opacity: 1;
}
/* #endregion */

/* #region Roadmap */
.event .event-description p:first-of-type
{
    font-weight: bold;
}
@media screen and (max-width: 991px)
{
    #roadmap
    {
        position: relative;
        margin: 0 1rem 2rem 1rem;
    }
    #roadmap #timeline-horizontal
    {
        display: none;
    }
    #timeline-vertical
    {
        position: absolute;
        width: .4rem;
        height: calc(3rem + 4rem * 5);
        border-radius: 1rem;

        background-color: var(--timeline-border-color);
        opacity: .8;
    }
    .event
    {
        margin-left: 1rem;
        border-radius: .5rem;

        background-color: var(--bg-color-transparent);
        backdrop-filter: var(--bg-blur);
    }
    #event-current svg
    {
        display: none;
    }
    .event .event-description
    {
        padding: .5rem;
        border-bottom: .1rem solid var(--bg-light-grey-color);
        border-radius: .5rem;
    }
    .event .event-description p
    {
        margin: 0;
    }
}
@media screen and (min-width: 992px)
{
    #roadmap
    {
        position: relative;
        margin: 2rem 4rem 7rem 4rem;
    }
    #roadmap #timeline-horizontal
    {
        display: block;
        border-color: var(--timeline-border-color);
        border-style: solid;
        opacity: .8;
    }
    .event-point
    {
        border-radius: 100%;

        background-color: var(--bg-dark-grey-color);
        border: .5rem solid var(--primary-dark-color);
    }
    .event
    {
        position: absolute;
        top: -.9rem;
        width: 2rem;
        height: 2rem;
    }
    .event .event-description
    {
        position: relative;
        top: 2.2rem;
        left: -3.5rem;
        width: 8.2rem;
        border-radius: .5rem;
        
        background-color: var(--bg-color-transparent);
        backdrop-filter: var(--bg-blur);
    }
    .event .event-description p
    {
        margin: 0;
        padding: 0 .2rem;

        text-align: center;
    }
    #event-current
    {
        left: calc(50% - 1rem);
    }
    #event-current .event-description
    {
        position: relative;
        top: 0;
        left: -3rem;
        width: 8rem;
        border-radius: .5rem;

        background-color: var(--bg-color-transparent);
        backdrop-filter: var(--bg-blur);
    }
    #event-current .event-description p
    {
        margin: 0;
        padding: 0 .2rem;

        text-align: center;
        font-weight: bold;
    }
    #event-current svg
    {
        width: 3rem;
        height: 3rem;
        position: relative;
        top: -.5rem;
        left: calc(50% - 1.5rem);
        
        fill: var(--timeline-border-color);
    }
    #event1
    {
        left: 0;
    }
    #event2
    {
        left: calc(15%);
    }
    #event3
    {
        left: calc(35%);
    }
    #event4
    {
        left: calc(70% - 2rem);
    }
    #event5
    {
        left: calc(100% - 2rem);
    }
}
/* #endregion */
