@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Tomorrow:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --bg-color: #09090A;
    --bg-color-rgb: 9, 9, 10;
    --bg-dark-grey-color: #121319;
    --bg-light-grey-color: #282a33;

    --text-color: #eee;
    --text-muted-color: #adc2c5;

    --primary-dark-color: #334fb6; /*334fb6*/
    --primary-color: #6196e6;
    --primary-light-color: #8fc8f7;

    --transition-length: 150ms;

    --font: "Work Sans";
    --font-futuristic: "Tomorrow";
    --font-barcode: "Libre Barcode 128 Text";
}

::selection
{
    background-color: var(--primary-color);
    color: #000;
}

body
{
    background-color: var(--bg-color); /* Ha nem töltene be a kép, az ember nem fog megvakulni. */
    background-image: url(./../assets/imgs/Space.jpg);
    background-position: top;
    background-size: cover;

    color: var(--text-color);
    font-family: var(--font);
}

section
{
    border-bottom: .15rem solid var(--bg-dark-grey-color);
    border-top: .1rem solid var(--bg-light-grey-color);
    border-radius: 1rem;
    
    overflow: hidden;
    background-color: rgba(var(--bg-color-rgb), 0.75);
    backdrop-filter: blur(.2rem);
}
section header
{
    padding: .5rem;

    background-color: var(--bg-dark-grey-color);
    text-align: center;
}
section p
{
    /* text-align: justify; */
}
.content-border
{
    /* border-color: var(--bg-light-grey-color) !important; */
    border: 1px inset var(--bg-light-grey-color);
}

.footnote
{
    color: var(--text-muted-color);
    text-align: end;
}

hr
{
    border-top: .3rem dashed var(--bg-light-grey-color);
    border-radius: 1rem;
}

a:link, a:visited
{
    color: var(--primary-color);
}
a:hover, a:active
{
    color: var(--primary-light-color);
}

.cost-text
{
    font-family: var(--font-futuristic);
    font-size: larger;
    /* text-align: center; */
    letter-spacing: .2rem;
}
.button
{
    border: none;
    border-radius: .5rem;
    
    transition: var(--transition-length);

    color: var(--text-color);
    font-family: var(--font-barcode);
    font-size: 3rem;
}
.buy-button
{
    padding: .2rem 4rem;
    background-color: var(--primary-dark-color);
}
.buy-button:hover
{
    background-color: var(--primary-color);
}
.rent-button
{
    padding: 0 4rem;
    border: .2rem solid var(--primary-dark-color);
    background-color: var(--bg-color);
}
.rent-button:hover
{
    border-color: var(--primary-color);
    background-color: var(--bg-light-grey-color);
}

/* #region NAVBAR */
nav
{
    position: sticky;
    top: 0;
    margin: 0 4rem;
    display: flex;
    align-items: center;

    z-index: 1;
    user-select: none;

    backdrop-filter: blur(.2rem);
    border-bottom: .1rem solid var(--bg-dark-grey-color);
    border-radius: 3rem;
}
nav img
{
    height: 4rem;
    margin: 1rem;
    
    transition-duration: var(--transition-length);
}
nav img:hover
{
    transition-duration: var(--transition-length);
    filter: drop-shadow(0 0 1rem var(--primary-dark-color));
}
nav ul
{
    display: flex;
    gap: 3rem;

    margin: 0 1rem;
    width: 100%;
    padding: .5rem 1.5rem;
    border-radius: 2rem;

    background-color: var(--bg-dark-grey-color);
}
nav li
{
    list-style-type: none;
    display: inline-block;
}
nav a:link, nav a:visited
{
    color: var(--text-muted-color);
    font-variant: small-caps;
    font-size: large;
    text-decoration: none;
}
nav a:hover, nav a:active
{
    color: var(--text-color);
}
nav a.active
{
    font-weight: bold;
}

.veryimportant
{
    cursor: default;
}
/* #endregion */

/* #region LENS */
.lens
{
    position: relative;
    top: .3rem;
    width: 25%;
    margin: auto;
}
.lens img
{
    width: 100%;
    display: block;
    margin: auto;
}
.lens2
{
    position: absolute;
    top: 0;
    
    opacity: 0;
    transition: var(--transition-length);
}
.lens2:hover
{
    opacity: 1;
    transition: var(--transition-length);
}
/* #endregion */
